@charset "utf-8";
.alogo{
    border: 2px solid green;
    

}

#logo3 {
	width: 100%;
	margin: 15px;
}

.centrocab{
    border: 2px solid red;
}

.loginarea{
    border: 2px solid blue;
}

.imgtabla{
    border: 2px solid orange;
}

.cabecera {
	height: auto;
}
