@charset "utf-8";

/*.alogo{
    border-bottom: 2px solid green;    
}*/

#logo3 {
	width: 100%;
	margin: 15px;
}
/*
.centrocab{
    border: 2px solid red;
}

.loginarea{
    border: 2px solid blue;
    
}
*/


.cabecera {
	height: auto;
    border-bottom: 2px solid #c40444;
} 

.uplogincol {
    padding-top: 15px;
}

.submitbtn{
    
    padding-top: 40px;
}

.submitbutton{
    background-color: #c40444;
    border-color: #c40444;
}
.submitbutton:hover{
    
}


/* comienzo contenido central*/
.imgtabla{
    margin-top: 8em;
    width: 100%;
}

#logo2{    
    padding-left: 15em;
}

#bagregar{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #c40444 !important;
    border: solid #c40444 !important;
    
}

#fabrica{
    text-align: center;
    border: 2px solid blue;
    padding-bottom: 20px;
}

#promo{
    text-align: center;
    border: 2px solid green;
    padding-bottom: 20px;
}

#coders{
    text-align: center;
    border: 2px solid red;
}

#enviar{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #c40444 !important;
    border: solid #c40444 !important;
}

#tabla{
    display: none;
    text-align: center;
    height: 30em;
    margin-top: -6em;
}
.tituloTabla{
    background-color: #c40444 !important;
    height: 2em;
}


/* fin contenido central*/


